.searchContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"search search"
		"yearFilter genreFilter";
}

.searchInput {
	display: block;
	outline: none;
	padding: 10px 15px;
	margin: 0 auto;
	grid-area: search;
}

.filterTitle {
	margin-bottom: 10px;
}

.yearFilter {
	grid-area: yearFilter;
	margin: 0 auto;
}

.genreFilter {
	grid-area: genreFilter;
	margin: 0 auto;
}

.filterItem {
	cursor: pointer;
	display: flex;
	align-items: center;

	input {
		margin-right: 5px;
	}
}