.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.pageSize {
	width: 1200px;
	height: 100%;
	margin: 0 auto;

	@media (max-width: 1250px) {
		width: 800px;
	}
}

.content {
	composes: pageSize;
	flex: 1;
}