.breadcrumb {
	margin: 30px 20px;
}

.picture {
	width: 400px;
	height: 500px;
}

.infoContainer {
	display: flex;
}

.infoSection {
	flex: 1;

	border-spacing: 15px;
	
	tr > td:first-child {
		font-weight: 600;
		vertical-align: top;
	}
}