.container {
	padding-top: 30px;
}

.movieTiles {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;

	@media (max-width: 1250px) {
		grid-template-columns: 1fr 1fr;
	}
}

.tile {
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin: 15px;

	a {
		text-decoration: none;
	}
}
