.header {
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	margin-bottom: 30px;
}

.addNew {
	position: absolute;
	right: 0;
	cursor: pointer;
}

.movieTiles {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;

	@media (max-width: 1250px) {
		grid-template-columns: 1fr 1fr;
	}
}

.editTile {
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin: 15px;

	a {
		text-decoration: none;
	}
}

.removeTile {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
	font-weight: 600;
	border: none;
	background: rgba(2, 58, 241, 0.541);
	color: #fff;
	width: 20px;
	height: 20px;
	padding: 0;
}