.container {
	display: flex;
	min-height: 600px;
}

.login {
	margin: auto;
	display: grid;
	grid-template-columns: 100px 1fr;
	grid-template-rows: auto;
	grid-row-gap: 15px;
	grid-template-areas:
		"userLabel userInput"
		"passwordLabel passwordInput"
		"buttons buttons";
}

.userLabel {
	grid-area: userLabel;
}

.userInput {
	grid-area: userInput;
}

.passwordLabel {
	grid-area: passwordLabel;
}

.passwordInput {
	grid-area: passwordInput;
}

.buttons {
	grid-area: buttons;
}