.container {
	display: flex;
	min-height: 600px;
}

.signup {
	margin: auto;
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-template-rows: auto;
	grid-row-gap: 15px;
	grid-template-areas:
		"userLabel userInput"
		"passwordLabel passwordInput"
		"passwordRepeatLabel passwordRepeatInput"
		"buttons buttons";
}

.userLabel {
	grid-area: userLabel;
}

.userInput {
	grid-area: userInput;
}

.passwordLabel {
	grid-area: passwordLabel;
}

.passwordInput {
	grid-area: passwordInput;
}
.passwordRepeatLabel {
	grid-area: passwordRepeatLabel;
}

.passwordRepeatInput {
	grid-area: passwordRepeatInput;
}
.buttons {
	grid-area: buttons;
}