@mixin activeHeaderItem {
	background-color: #065dcf;
}

.headerContainer {
	background-color: #076cf1;
}

.header {
	display: flex;
	composes: pageSize from '../App/App.scss';
}

.headerItem {
	display: inline-block;
	text-decoration: none;
	padding: 15px 20px;
	background-color: #076cf1;
	color: #fff;

	&:hover {
		@include activeHeaderItem;
	}
}

.activeHeaderItem {
	composes: headerItem;
	@include activeHeaderItem;
}

.user {
	margin-left: auto;
	margin-right: 0;
}