.container {
	position: relative;
	background-color: #076cf1;
	color: #fff;
	box-sizing: border-box;
	cursor: pointer;

	&:hover {
		background-color: #065dcf;
	}

	&:hover > .dropdown {
		display: block;
	}
}

.userName {
	box-sizing: border-box;
	padding: 15px 20px;
}

.dropdown {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	box-sizing: border-box;
	z-index: 1;

	&:hover {
		display: block;
	}
}

.dropdownItem {
	padding: 15px 20px;
	text-decoration: none;
	background-color: #076cf1;
	color: #fff;
	display: block;

	&:hover {
		background-color: #065dcf;
	}
}

.logout {
	composes: dropdownItem;
	border: none;
	cursor: pointer;
	outline: none;
}