.footer {
	margin-top: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 15px 15px;

	@media (max-width: 480px) {
		flex-direction: column;
		text-align: center;
	}
}

.author {
	margin-right: 10px;

	@media (max-width: 480px) {
		margin-right: 0;
		margin-bottom: 10px;
	}
}

.logo {
	height: 30px;
}