.tile {
	width: 300px;
	height: 300px;
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	box-shadow: 0 0 15px #022b68;
}

.name {
	flex: 0;
	padding: 5px 10px;
	font-weight: 600;
	color: #000;
}

.picture {
	flex: 1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
