.form {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		"picture nameLabel nameInput"
		"picture descriptionLabel descriptionInput"
		"picture yearLabel yearInput"
		"pictureInput genreLabel genreInput"
		"save save save";
	grid-gap: 15px;
}

.input {
	padding: 7px;
}

.picture {
	grid-area: picture;
}

.pictureInput {
	grid-area: pictureInput;
	composes: input;
}

.nameLabel {
	grid-area: nameLabel;
}

.nameInput {
	composes: input;
	grid-area: nameInput;
}

.descriptionLabel {
	grid-area: descriptionLabel;
}

.descriptionInput {
	composes: input;
	grid-area: descriptionInput;
}

.yearLabel {
	grid-area: yearLabel;
}

.yearInput {
	composes: input;
	grid-area: yearInput;
}

.genreLabel {
	grid-area: genreLabel;
}

.genreInput {
	composes: input;
	grid-area: genreInput;
}

.save {
	grid-area: save;
	justify-self: end;
	cursor: pointer;
}